apiVersion: v1
kind: PersistentVolume
metadata:
  name: concourse
  labels:
    type: concourse
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  rbd:
    monitors:
      - ceph-mon.ceph
    image: concourse
    secretRef:
      name: ceph-client-key
