apiVersion: v1
data:
  ceph.client.admin.keyring: {{ rendered.keyring.admin|b64encode }}
  ceph.conf: {{ rendered.conf|b64encode }}
  ceph.mon.keyring: {{ rendered.keyring.mon|b64encode }}
kind: Secret
metadata:
  name: ceph-conf-combined
  namespace: ceph
type: Opaque
