apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-internal
  labels:
    component: elasticsearch
    role: client
    cluster: {{ es.cluster_name }}
spec:
  selector:
    component: elasticsearch
    role: client
    cluster: {{ es.cluster_name }}
  ports:
  - name: es-http
    port: 9200
    protocol: TCP
  - name: es-tcp
    port: 9300
    protocol: TCP
