apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-discovery
  labels:
    component: elasticsearch
    role: master
    cluster: {{ es.cluster_name }}
spec:
  selector:
    component: elasticsearch
    role: master
    cluster: {{ es.cluster_name }}
  ports:
  - name: transport
    port: 9300
    protocol: TCP
