apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-data
  labels:
    component: elasticsearch
    role: data
    cluster: {{ es.cluster_name }}
spec:
  clusterIP: None
  selector:
    component: elasticsearch
    role: data
    cluster: {{ es.cluster_name }}
  ports:
  - name: es-http
    port: 9200
    protocol: TCP
  - name: es-tcp
    port: 9300
    protocol: TCP
