apiVersion: v1
kind: PersistentVolume
metadata:
  name: es-{{es.cluster_name}}-data-{{shard}}
  labels:
    type: es-data
    cluster: {{ es.cluster_name }}
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 100Gi
  persistentVolumeReclaimPolicy: Retain
  rbd:
    monitors:
      - ceph-mon.ceph
    image: es-{{es.cluster_name}}-data-{{shard}}
    secretRef:
      name: ceph-client-key
