{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
{% for index in range(1, properties['count']|int + 1) %}
{% set NAME_PREFIX = env['deployment'] + '-' + index|string %}
- name: {{ NAME_PREFIX }}
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/{{ properties['machineType'] }}
    metadata:
      items:
        - key: startup-script
          value: |
            #!/bin/bash
            mkdir -p /opt

            cat <<EOF > /opt/concourse-tsa-public-key
            ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCjLGDh6FE7spmOGfoMAKWyYhRlwjqDbhk7PLxHC/n/6EJKUYPotVPoXdBv3y8e3fPDua6cD9xNgc07uJLCvlHosOQgc6nl6U0dO6dB14ztcnl3IvyIbEmEKUkjlyxykC0K9kDICWGneh1vBO6zX6sTk49zKlvTAZIDrMz3+PBH9I8VDBA0WbU7U1cnbCTC9d5e2oF0Rwb4O6CxcEH6JIML4cZppEcbbfs+cROAF6BnuiYsIeD4abGYPreAqOsCt8RlVtC8ONOSrREGb8cd8MPnBoxRkGiIlfY5c4JvdkeeDnI0kJigr9/6vu/Igb4qwR1FyB6imjRIvSblxnWv9Wt7 cedric@MacBook-Pro-de-Cedric-Pro.local
            EOF
            cat <<EOF > /opt/concourse-tsa-worker-private-key
            -----BEGIN RSA PRIVATE KEY-----
            MIIEpAIBAAKCAQEAxAY+NPYQSNmHEXfPvOd6qgQSnTcoxZu+9dU5A86tvfOO5vi0
            oi+2Ph//goD4/ulkF9Fc6stochgvQvC1ta3yFzEU1dedFN0soW1b8Wn9BKYmHK28
            IAWycegd8Q8r3iuRsWsc4vDT00zmLS6nKeWpwNyWVcKOKCqeTc72w7KY3h/6EdJs
            4V1kujyB9FYwEDmqI+lV87qZfuQljcScQtA62xWCw3CsIYIwzHI6H+qeqFYsRp5o
            Pz3vRIDclzPcHWeREQXRJ8i4gnNSAUcQM/v+9fLEHvDyM7+OnFrDF1LF5EcfmXpo
            4sg6d5T7nOdaHij8ehExKrXrKbmHm/dORjx/ZwIDAQABAoIBAQC5QO0pQCLDtlBf
            wcshy+GxK4gr7CUsG7Ssv4XSg1DPY4552jFb1Zt1uufOffTTc96UY9hcTT+4FAMW
            UEZqHKneIRR/w/U/8oZrSN7LmE72Rc9e6xIPcVLjM2qYlq3umV5nPcNe9ho6Z0Jh
            EOYKQnHbQp0RD30pmJ1jC2VKLU8rG4RqnEA2wVgbkZ3grT9JbK2bcPwqqqiXQvfn
            pXhxEOjuuSv2OFDJ+lrP3E1p8iVZIn35nhpFY7P7cARg80H6gazkfxo9qgWxxja9
            60cjytBqwwamt5JV90eo+LuzNDAdtLBo9ykLJdFUlgFyy5XZWhwjwaMNg44lQ59z
            D6osNPABAoGBAPNd/0qrtEGNsBhHruY/k0WoFKcTT/NMAL35aIW3TgF7kgPLg1YM
            QVN2gbbKMf3+ulWWnu8sPP+aezP/zd+XXZmLwtFMNFmWRTrTZ9IFhEkPsOrcDdfQ
            9MGKEdim676a14G6mEiy4uziqv6HrD2soSunRFGT/ZjsiY+q2oIa98DnAoGBAM4z
            IKmjGqA+biasJQHE1DGHJTOOlQbggVVIczvy98RR0MLSvieVCr+IokoJvIhHb28j
            vxwTvU9Ls0ID9PQRXZghrqs4nFvl2SQO2PB6teyRdfSZmDQOPBio//O25oTMjrT1
            7q7ChE0CdzkpSAmTQie7EVvbEvDr1jT0bDwEQP2BAoGAG+Q++PjazNSHRREaG2tX
            3pjX3RoahKDGSP+HmiOa/hKCdorhf4AiEIW5chCUUC7cfiioCHNCfmzfB+OeXazE
            Xm+lIUWhjk7pmkdWU7ysH4970D7uGzjohDHlv7XJuOuYHVccUuCln06PGGLGO79I
            LW+bJdpXKyqYzW1gY57hnCsCgYBY8wdBBmIjBCtiNVpVdAIRR3pNzlENQWWpU3Ka
            RsqI/r4ufNiYnJuhWiCgDaktpJs2d1Yml4FPppkyfiB59M/KI6WEqQwSPIm6G0mM
            G3NFFM6scGGO+yEDhku7Z4fze4aIG5sV+kU2Lz0dBGjV8JdWKkVnuY5nLWUfPN0/
            2pnqgQKBgQCucJjyk9zclw6/NNp5QfmaTmZESBhWKXhXdLhtXA4AC4h/0YX6YQmN
            EdAlh+Lj8V4g1eZ0mKL5QC3TrvY0K9+Yh2nX/40EMyEyRi0idDR0wlwSQbjuojCJ
            c/MhyFBCez75fW+njdwKKXrE+Sjo+7+hcaxC7WYz0oIWtJFuJ2DGeg==
            -----END RSA PRIVATE KEY-----
            EOF

            if [[ ! -f /opt/concourse ]]; then
                curl -Lo /opt/concourse https://github.com/concourse/concourse/releases/download/v2.6.0/concourse_linux_amd64
                chmod +x /opt/concourse
            fi

            if [[ "$(mount | grep /proc/xen)" != "" ]]; then
                umount /proc/xen || true
            fi

            mkdir -p /var/lib/concourse

            screen -dmS concourse-worker /opt/concourse worker \
                --bind-ip=0.0.0.0 \
                --work-dir=/var/lib/concourse \
                --tsa-host={{ properties["tsa"] }} \
                --tsa-public-key=/opt/concourse-tsa-public-key \
                --tsa-worker-private-key=/opt/concourse-tsa-worker-private-key
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ NAME_PREFIX }}-disk
        sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/family/ubuntu-1610
        diskSizeGb: 100

    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env['project'] }}/global/networks/default
      {% if properties['hasExternalIp'] %}
      accessConfigs:
      - name: external-nat
        type: ONE_TO_ONE_NAT
      {% endif %}
{% endfor %}
